<% content_for :aside do %>
    <aside class="box">
        <p class="name">Bem vindo, <span><%= @user.name %></span></p>
        <div class="links">
            <%= link_to "Editar conta", edit_user_registration_path %> |
            <%= link_to "Sair", destroy_user_session_path, method: :delete %>
        </div>
    </aside>
<% end -%>


<% @todo_lists.each do |todo_list| %>
  <div class="index_row clearfix">
    <h2 class="todo_list_title"><%= link_to todo_list.title, todo_list %></h2>
    <p class="todo_list_sub_title"><%= todo_list.description %></p>
  </div>
<% end -%>


<div class="links">
  <%= link_to "Criar Todo List", new_todo_list_path %>
</div>


<% content_for :js do %>
    <script>
        var aside = $('aside');
        var firstAnimation = true;

        function asideAnimation(){ 
            asideHide();
            menuShow();
            firstAnimation = false;
        };
        
        asideAnimation();

        function asideHide(){
            setTimeout(function(){
                aside.fadeOut();
            }, 2000);
        };

        function isFirstAnimation(){
            var time = 3000;
            if(firstAnimation == false){
                time = 400;
            }
            return time;
        };

        function menuShow(){
            setTimeout(function(){
                aside.after('<a id="menu" href="#" class="box button-menu">M</a>');
                menuAddClick();
            }, isFirstAnimation());
        };

        function backShow(){
            $(aside).after('<a id="back" href="#" class="box button-menu"></a>');
            backAddClick();
        };

        function menuAddClick(){
            var menu = $('#menu');
            menu.on("click", function(event){
                $(this).hide();
                aside.fadeIn();
                backShow();

                event.preventdefault();
            });
        };

        function backAddClick(){
            var back = $('#back');
            back.on("click", function(event){
                $(this).hide();
                aside.fadeOut();
                menuShow();

                event.preventdefault();
            });
        };
    </script>
<% end -%>