<h2 class="in-content">Perdeu sua senha?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "forms" }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label "E-mail" %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="actions">
    <%= f.submit "Enviar nova senha" %>
  </div>
<% end %>

<div class="links">
    <%= render "devise/shared/links" %>
</div>
