<% content_for :aside do %>
  <aside class="box">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "forms-user" }) do |f| %>
      <div class="field">
        <%= f.label "E-mail" %><br />
        <%= f.email_field :email, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label "Senha" %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label "Lembrar-me" %>
        </div>
      <% end -%>

      <div class="actions">
        <%= f.submit "Entrar" %>
      </div>
    <% end %>
    
    <div class="links">
      <%= render "devise/shared/links" %>
    </div>
  </aside>
<% end -%>

<div class="text-welcome">
  <h2>Bem-vindo ao Todo Lists on Rails</h2>

  <p>Este projeto foi feito em Ruby on Rails com objetivo de estudar e praticar Ruby on Rails.</p>
  
  <p>Todo List é uma lista com uma tarefa a fazer, e dentro de cada tarefa tem os diversos items para cumpri-la.</p>

  <p>Organizando suas tarefas dessa forma se obtém mais produtividade, foco, e organização.</p>

  <a class="link-github" href="https://github.com/wtrindades/todoOnRails" target="_blank"></a>

</div>