<% content_for :aside do %>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "forms-user" }) do |f| %>
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label "Lembrar-me" %>
      </div>
    <% end -%>

    <div class="actions">
      <%= f.submit "Entrar" %>
    </div>
  <% end %>
  
  <div class="links">
    <%= render "devise/shared/links" %>
  </div>
<% end -%>

<div class="text-welcome">
  <h2>Bem-vindo ao Todo Lists on Rails</h2>

  <p>Seamlessly empower just in time scenarios for synergistic services. Intrinsicly facilitate user friendly technologies for economically sound methodologies. Seamlessly develop leading-edge bandwidth vis-a-vis B2C imperatives. Objectively disseminate cooperative niche markets through orthogonal e-commerce. Enthusiastically enable collaborative relationships via performance based materials.</p>

  <p>Proactively communicate top-line scenarios without ubiquitous best practices. Proactively benchmark wireless manufactured products vis-a-vis professional models. Collaboratively engage ubiquitous scenarios rather than 24/365 web services. Intrinsicly reconceptualize frictionless process improvements before emerging manufactured products. Proactively provide access to cross functional convergence after web-enabled networks.</p>

  <p>Credibly facilitate ethical methodologies vis-a-vis performance based products. Efficiently unleash top-line technologies via synergistic manufactured products. Completely disseminate clicks-and-mortar deliverables rather than effective supply chains. Seamlessly underwhelm standards compliant metrics through fully researched initiatives. Seamlessly evisculate enterprise-wide best practices via accurate methods of empowerment.</p>

  <p>Completely deploy high-quality methods of empowerment.</p>
</div>